<div class="form">
    <form action="" enctype="mutipart/form-data" method="post">
        <div class="form-division">
            <div class="pure-g">
                <div class="pure-u-1">
                    <div class="form-widget">
                        <span class="form-label">
                            <label for="ContainerId">{{ t "Container" }}</label>
                        </span>
                        <span class='form-input'>
                            <input type="text" class="yaui-combo" yaui-options='{"dataSource":"/container/combo"}' name="ContainerId" value="{{ if .model.Container }}{{ .model.Container.Id  | fmtValue }}{{ end }}">
                        </span>
                        <span class='form-error'></span>
                    </div>
                </div>
                <div class="pure-u-1">
                    <div class="form-widget">
                        <span class="form-label">
                            <label for="TypeId">{{ t "Type" }}</label>
                        </span>
                        <span class='form-input'>
                            <input type="text" class="yaui-combo" yaui-options='{"dataSource":"/type/combo"}' name="TypeId" value="{{ if .model.Type }}{{ .model.Type.Id  | fmtValue }}{{ end }}">
                        </span>
                        <span class='form-error'></span>
                    </div>
                </div>
                <div class="pure-u-1">
                    <div class="form-widget">
                        <span class="form-label">
                            <label for="Name">{{ t "Stuff Name" }}</label>
                        </span>
                        <span class='form-input'>
                            <input type="text" name="Name" size="50" value="{{ .model.Name | fmtValue }}">
                        </span>
                        <span class='form-error'></span>
                    </div>
                </div>
                <div class="pure-u-1">
                    <div class="form-widget">
                        <span class="form-label">
                            <label for="Sn">{{ t "Stuff Sn" }}</label>
                        </span>
                        <span class='form-input'>
                            <input type="text" name="Sn" value="{{ .model.Sn | fmtValue }}">
                        </span>
                        <span class='form-error'></span>
                    </div>
                </div>
                <div class="pure-u-1">
                    <div class="form-widget">
                        <span class="form-label">
                            <label for="Path">{{ t "Stuff Path" }}</label>
                        </span>
                        <span class='form-input'>
                            <input type="text" name="Path" value="{{ .model.Path | fmtValue }}">
                        </span>
                        <span class='form-error'></span>
                    </div>
                </div>
                <div class="pure-u-1">
                    <div class="form-widget">
                        <span class="form-label">
                            <label for="Ext">{{ t "Stuff Ext" }}</label>
                        </span>
                        <span class='form-input'>
                            <input type="text" name="Ext" value="{{ .model.Ext | fmtValue }}">
                        </span>
                        <span class='form-error'></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-button">
            <button class="btn btn-primary" type="submit"><i class="fa fa-save fa-lg"></i>  <b>{{ t "Save" }}</b>
            </button>
        </div>
    </form>
</div>
