<table class="yaui-grid" title='{{ t "List Stuff" }}' url="/stuff/load" idField="Id">
    <thead>
        <tr id="toolbars">
            <th><a name="add" href="/stuff/create">{{ t "Create Stuff" }}</a>
            </th>
            <th><a name="delete" href="/stuff/delete">{{ t "Delete Stuff" }}</a>
            </th>
            <th><a name="export" href="/stuff/export">{{ t "Export Stuff" }}</a>
            </th>
            <th><a name="search" href="/stuff/load">{{ t "Search Stuff" }}</a>
            </th>
            <th><a name="multiple" href="/stuff/batch">{{ t "Multiple Edit" }}</a>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td name="Id" width="20" sort="clientSide">{{ t "Id" }}</td>
            <td name="Container__Name" width="50">{{ t "Container" }}</td>
            <td name="Type__Name" width="40">{{ t "Type Name" }}</td>
            <td name="Name" width="400">{{ t "Stuff Name" }}</td>
            <td name="Sn" width="50">{{ t "Stuff Sn" }}</td>
            <td name="Actor" width="60">{{ t "Stuff Actor" }}</td>
            <td name="Path" width="120">{{ t "Stuff Path" }}</td>
            <td name="ModifyTime" width="100">{{ t "Modify Time" }}</td>
            <td name="opt" width="80" align="center" header='{{ t "Operation" }}'>
                <a href="/stuff/update" class="omgrid_operations_edit" dialog="940,600">{{ t "Edit" }}</a>
                <a href="/stuff/view" class="omgrid_operations_view" dialog="900,500">{{ t "View" }}</a>
            </td>
        </tr>
    </tbody>
</table>
<div id="operate_window" style="display:none;"></div>