<div class="batch_form s_form_wrapper form">
    <form action="POST">
        <div class="form-division">
            <div class="pure-g">
                <div class="pure-u-1">
                    <div class="form-widget">
                        <span class="form-label">
                            <label for="TypeId">{{ t "Type" }}</label>
                        </span>
                        <span class='form-input'>
                            <input class="yaui-combo" type="text" name="TypeId" yaui-options='{"dataSource":"/type/combo"}' value="">
                        </span>
                    </div>
                </div>
                <div class="pure-u-1">
                    <div class="form-widget">
                        <span class="form-label">
                            <label for="ContainerId">{{ t "Container" }}</label>
                        </span>
                        <span class='form-input'>
                            <input class="yaui-combo" type="text" name="ContainerId" yaui-options='{"dataSource":"/container/combo"}' value="">
                        </span>
                    </div>
                </div>
                <div class="pure-u-1">
                    <div class="form-widget">
                        <span class="form-label">
                            <label for="Name">{{ t "Stuff Name" }}</label>
                        </span>
                        <span class='form-input'>
                            <input type="text" class="" name="Name" value="">
                        </span>
                    </div>
                </div>
                <div class="pure-u-1">
                    <div class="form-widget">
                        <span class="form-label">
                            <label for="Sn">{{ t "Stuff Sn" }}</label>
                        </span>
                        <span class='form-input'>
                            <input type="text" class="" name="Sn" value="">
                        </span>
                    </div>
                </div>
                <div class="pure-u-1">
                    <div class="form-widget">
                        <span class="form-label">
                            <label for="Path">{{ t "Stuff Path" }}</label>
                        </span>
                        <span class='form-input'>
                            <input type="text" class="" name="Path" value="">
                        </span>
                    </div>
                </div>
                <div class="pure-u-1">
                    <div class="form-widget">
                        <span class="form-label">
                            <label for="Ext">{{ t "Stuff Ext" }}</label>
                        </span>
                        <span class='form-input'>
                            <input type="text" class="" name="Ext" value="">
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-button">
            <button type="button" class="btn btn-primary" id="search_form_button"><i class="fa fa-save fa-lg"></i>  <b>{{ t "Search" }}</b>
            </button>
        </div>
    </form>
</div>
