<div class="form">
    <form action="" enctype="mutipart/form-data" method="post">
        <div class="form-division">
            <div class="pure-g">
                <div class="pure-u-1">
                    <div class="form-widget">
                        <span class="form-label">
                            <label for="Name">{{ t "Container Name" }}</label>
                        </span>
                        <span class='form-input'>
                            <input type="text" name="Name" value="{{ .model.Name | fmtValue }}">
                        </span>
                        <span class='form-error'></span>
                    </div>
                </div>
                <div class="pure-u-1">
                    <div class="form-widget">
                        <span class="form-label">
                            <label for="Size">{{ t "Container Size" }}</label>
                        </span>
                        <span class='form-input'>
                            <input type="text" name="Size" value="{{ .model.Size | fmtValue }}">
                        </span>
                        <span class='form-error'></span>
                    </div>
                </div>
                <div class="pure-u-1">
                    <div class="form-widget">
                        <span class="form-label">
                            <label for="Memo">{{ t "Memo" }}</label>
                        </span>
                        <span class='form-input'>
                            <input type="text" name="Memo" value="{{ .model.Memo | fmtValue }}">
                        </span>
                        <span class='form-error'></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-button">
            <button class="btn btn-primary" type="submit"><i class="fa fa-save fa-lg"></i>  <b>{{ t "Save" }}</b>
            </button>
        </div>
    </form>
</div>
