<table class="yaui-grid" title='{{ t "List Container" }}' url="/container/load" idField="Id">
    <thead>
        <tr id="toolbars">
            <th><a name="add" href="/container/create">{{ t "Create Container" }}</a>
            </th>
            <th><a name="delete" href="/container/delete">{{ t "Delete Container" }}</a>
            </th>
            <th><a name="export" href="/container/export">{{ t "Export Container" }}</a>
            </th>
            <th><a name="search" href="/container/load">{{ t "Search Container" }}</a>
            </th>
            <th><a name="multiple" href="/container/batch">{{ t "Multiple Edit" }}</a>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td name="Id" width="80" sort="clientSide">{{ t "Container Id" }}</td>
            <td name="Name" width="180">{{ t "Container Name" }}</td>
            <td name="Size" width="180">{{ t "Container Size" }}</td>
            <td name="Memo" width="180">{{ t "Memo" }}</td>
            <td name="opt" width="152" align="center" header='{{ t "Operation" }}'>
                <a href="/container/update" class="omgrid_operations_edit" dialog="940,600">{{ t "Edit" }}</a>
                <a href="/container/view" class="omgrid_operations_view" dialog="900,500">{{ t "View" }}</a>
            </td>
        </tr>
    </tbody>
</table>
<div id="operate_window" style="display:none;"></div>