<body style='overflow:hidden;width:100%' scroll='no'>
    <div class="home-header" id="home-header">
        <span class='home-title'>{{ t "MyStore" }}&nbsp;V0.1</span>
    </div>
    <div id="home-sidebar">
        <div id="sidebar_wrap" sidebarUrl="/sidebar" style="width:158px;height:100%"></div>
    </div>
    <div id="home-content">
        <div id='iframe_wrap'>
            <ul>
                <li>
                    <a href="#default_tab">{{ t "Admin Index" }}</a>
                </li>
            </ul>
            <div id='default_tab' style="padding:5px;overflow:hidden;">
                <div id='admin_index' style="margin-top:0px;position:relative;">
                    <h2>Store Admin System</h2>
                    <h3></h3>
                    <p>(04.02)v0.1 测试版上线.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="home-footer" id="home-footer">
        <span class='home-footer_link'>&nbsp;http://weibo.com/aliz&nbsp;&nbsp;</span>
    </div>
</body>
