<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="en" />
    <link rel="stylesheet" type="text/css" href="/static/yaui/css/omui/elegant/om-elegant.css" />
    <link rel="stylesheet" type="text/css" href="/static/yaui/css/om-plus.css" />
    <link rel="stylesheet" type="text/css" href="/static/yaui/css/small.css" />
    <title>Store</title>
    <script src="/static/yaui/js/sea.js" id="seajsnode"></script>
    <script src="/static/yaui/js/boot-layout.js"></script>
</head>
{{.LayoutContent}}
</html>
