<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="en" />
    <link rel="stylesheet" type="text/css" href="/static/yaui/css/omui/elegant/om-elegant.css" />
    <link rel="stylesheet" type="text/css" href="/static/yaui/css/om-plus.css" />
    <link rel="stylesheet" href="/static/yaui/css/pure-nr-min.css" />
    <link rel="stylesheet" href="/static/yaui/css/yaui-bootstrap.css" />
    <link rel="stylesheet" href="/static/yaui/css/font-awesome.min.css" />    <link rel="stylesheet" type="text/css" href="/static/yaui/css/small.css" />
    <link rel="stylesheet" type="text/css" href="/static/yaui/css/small-module.css" />
    <link rel="stylesheet" href="/static/yaui/css/jquery.fileupload.css">
    <link rel="stylesheet" href="/static/yaui/css/omeditor/css/umeditor.css">
    <script src="/static/yaui/css/less-1.6.0.min.js"></script>
    <title>mymall</title>
</head>
<body>
    <div class="container main_container" id='container' style='padding:0;'>
        {{.LayoutContent}}
    </div>
</body>
</html>