<table class="yaui-grid" title='{{ t "List Type" }}' url="/type/load" idField="Id">
    <thead>
        <tr id="toolbars">
            <th><a name="add" href="/type/create">{{ t "Create Type" }}</a>
            </th>
            <th><a name="delete" href="/type/delete">{{ t "Delete Type" }}</a>
            </th>
            <th><a name="export" href="/type/export">{{ t "Export Type" }}</a>
            </th>
            <th><a name="search" href="/type/load">{{ t "Search Type" }}</a>
            </th>
            <th><a name="multiple" href="/type/batch">{{ t "Multiple Edit" }}</a>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td name="Id" width="80" sort="clientSide">{{ t "Type Id" }}</td>
            <td name="Name" width="180">{{ t "Type Name" }}</td>
            <td name="Memo" width="180">{{ t "Type Memo" }}</td>
            <td name="opt" width="152" align="center" header='{{ t "Operation" }}'>
                <a href="/type/update" class="omgrid_operations_edit" dialog="940,600">{{ t "Edit" }}</a>
                <a href="/type/view" class="omgrid_operations_view" dialog="900,500">{{ t "View" }}</a>
            </td>
        </tr>
    </tbody>
</table>
<div id="operate_window" style="display:none;"></div>