/* 
    Document   : customize
    Created on : 2012-3-22, 10:51:31
    Author     : alichen
    Description:
        Purpose of the stylesheet follows.
*/
/*elegant样式修正*/
.om-tabs .om-tabs-headers .om-state-default a{color:#212121;}
.om-tabs .om-tabs-headers{border-color:#CCC;}
.om-widget .om-widget-header{background-position:0 3px;}
.om-tabs .left-placeholder,.om-tabs .right-placeholder{height:28px;}
.om-tabs .om-tabs-headers ul li.om-tabs-activated{border-color:#D2D2D2 #D2D2D2 #FFF;}
.om-tabs .om-tabs-headers ul li{background:url("omui/elegant/images/tabs/om-tabs-bg-d.png") repeat-x scroll 0 0 #EBEBEB;}
.om-tabs .om-tabs-headers ul li.om-state-hover{background: url("omui/elegant/images/tabs/om-tabs-bg-h.png") repeat-x scroll 0 0 #EAEAEA;}
.om-tabs .om-tabs-headers ul li.om-tabs-activated{background:url("omui/elegant/images/tabs/om-tabs-bg-a.png") repeat-x scroll 0 0 #FFF;}
.om-tree li.om-tree-node span.selected{background-color:#E9E9E9 !important;}
.om-tree .om-tree-node span.hover{background-color:#E9E9E9;}
.om-dialog .om-dialog-content{padding:0;}
.om-calendar-list-wrapper .om-state-highlight{color:#666;}
.bDiv .om-state-highlight{border-width:0;}

/*修复grid 表头 和单元格 字体大小*/
.bDiv table tr td div{font-size:12px;}
.hDiv table tr th div.om-resizable{font-size:12px;}

.toolbarDiv{background: none repeat scroll 0 0 #FAFAFA;border-top:1px solid #CCC;height:26px;padding:1px 2px;}
.datagrid-btn-separator{border-left:1px solid #CCCCCC;border-right:1px solid #FFFFFF;display:inline;height:24px;margin:2px 1px}
.toolbarRowF{clear:both;overflow:hidden;height:26px;padding:0;clear:both;}
.toolbarRowF div{float:left;padding:0 3px;height:24px;border:1px solid #FAFAFA;}
.toolbarRowF div.btn_hover{background:url('image/button_plain_hover.png') repeat-x left bottom;border:1px solid #D3D3D3;border-radius:3px 3px 3px 3px;}
.toolbarRowF a{height:24px;display:block;float:left;padding-left:20px;line-height:24px;text-decoration:none;color:#333;background-position:0 50%;}
.toolbarRowF .datagrid-btn-separator{border-left:1px solid #CCCCCC;border-right:1px solid #FFFFFF;height:20px;margin:2px 3px;float:left;padding:0;}
/*.om-grid div.hDiv{border-top:none;}*/
.om-grid div.bDiv td div.om-grid-operations{padding:0;}
.om-grid div.bDiv td div.om-grid-operations a{font-size:12px;text-decoration:none;color:#333;background:url('image/button.gif') repeat-x 0 0 #E0DFDF;border:1px solid #AAA;display:inline-block;padding:2px 5px;height:16px;line-height:16px;margin-right:2px;}
.om-grid div.bDiv td div.om-grid-operations a.disabled{background:url('image/disabled.gif') repeat-x 0 0 #E0DFDF;}
.om-grid div.bDiv td div.om-grid-operations a:hover{background:url('image/hover.gif') repeat-x 0 0 #F2F2F2;border:1px solid #999;}
.om-grid div.bDiv td div{padding:2px 5px;line-height:22px;}
.om-grid span.checkbox{margin:3px auto;}
.om-grid div.pDiv div.pButton{line-height:16px;}

.om-combo-list-row{text-align:left;font-size:12px;}/*修复combo 下来项左对齐*/
.om-combotree .om-droplist{padding-right:20px;}

.om-combo .combo-page{background:#FFF;border:1px solid #E1E1E1;border-top:0;overflow:hidden;}
.om-combo .combo-page input{width:20px;}
.om-droplist dl,.om-droplist dl dd{margin:0;padding:0;}
.om-droplist dl dd{padding-left:5px;line-height:18px;}
/*.om-state-hover, .om-widget-content .om-state-hover, .om-widget-header .om-state-hover, .om-state-focus, .om-widget-content .om-state-focus, .om-widget-header .om-state-focus{background:url("images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% #E6E6E6;}*/
.om-combo input{height:18px;}
.om-combotree{position:relative;width:160px;float:left;}
.om-combotree-on{height:225px;}
.om-combotree-position{padding:1px 0;margin:0;}
.om-combotree-textbox{background:#FFF;display:none;position: absolute;width:155px;/* 兼容IE6,7 */_width:154px;/* 兼容IE8 */width:156px\0;height:200px;border:1px solid;overflow: auto;z-index:999;}

/*修复messagebox 内容字体大小*/
.om-message-content-html{font-size:12px;padding-left:10px;}
.om-message-content-html p{margin:0;margin-bottom:5px;}

/*修复树节点错位*/
.om-tree-node span{height:15px;}
.om-tree-node span a{font-size:13px;line-height:15px;}
/*树节点禁选*/
.om-tree .checkbox-denied{background:url("omui/elegant/images/tree/checkbox.png") no-repeat 0 -72px #FFF;}

/*修复按钮高度*/
.buttons input{height:24px;}
.om-btn .om-btn-center{padding:0 5px;}

/*修复日历插件字体大小*/
.om-calendar-list-wrapper *{font-size:12px;}

/*修复菜单插件图标左外距*/
.om-menu-indicator span.om-menu-icon{margin-left:-3px;}
.om-menu *{font-size:12px;}

/*accordion插件mousehover字体修复*/
.om-accordion .om-panel .om-panel-header-hover{font-weight:normal;cursor:pointer;}

#sidebar_wrap{overflow:hidden;}

/*grid高度修正*/
.om-grid .titleDiv .titleContent{padding:4px 6px;}
.om-grid div.pDiv div.pDiv2{margin:0 4px 0 -1px;}
.om-grid div.pDiv{height:24px;}
.om-grid div.bDiv table{margin-bottom:0;}

/*1.2版本 omtabs里的panel增加padding*/
.om-tabs .om-tabs-panels .om-panel-body{padding:0;}

/*修复menu高度居中*/
.om-menu-indicator span{display:block;padding:1px 0;}
.om-menu-indicator span.om-menu-icon,.om-menu-indicator span.om-menu-item-sep{padding:0;}
.om-menu-indicator span.om-menu-item-sep{display:inline;}

/*修复2.0 om-panel拥有内边距的问题*/
.om-panel-body{padding:0;}

.row_div span.om-combo{top:-15px;}

/*修复om-calendar组件确定按钮位置*/
.om-calendar-list-wrapper .om-cal-ft{height:25px;margin-top:3px;}
.om-calendar-list-wrapper .om-cal-ft .ct-ok{margin-left:5px;}

/*修复om-itemselector组件*/
.om-itemselector{clear:both;overflow:hidden;}
.om-itemselector-panel{float:left;overflow:hidden;}
.om-itemselector-panel h2{display:block;margin:0;font-size:12px;}
.om-itemselector .header span.om-itemselector-title{padding-left:5px;}
.om-itemselector-up, .om-itemselector-down{overflow:hidden;}
.om-itemselector-items dl{overflow-y:auto;margin:0;}
.om-itemselector-items dl dt{line-height:20px;margin-bottom:3px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.om-itemselector span.checkbox{margin:3px 0 2px 0;}
.om-itemselector .header span.checkbox{margin:6px 0 0 6px}

/*omWindow组件*/
.om-dialog .om-dialog-titlebar-maximum{width:25px;height:18px;margin:-12px 0 0;padding:1px;position:absolute;top:50%;right:2.3em;}
.om-dialog .om-dialog-titlebar-maximum span{display:block;margin:1px;width:22px;height:18px;text-indent:-9999px;background:url('omui/elegant/images/panel/max_panel.png') no-repeat center center;}
.om-dialog .om-dialog-titlebar-minimum{width:25px;height:18px;margin:-12px 0 0;padding:1px;position:absolute;top:50%;right:2.3em;}
.om-dialog .om-dialog-titlebar-minimum span{display:block;margin:1px;width:22px;height:18px;text-indent:-9999px;background:url('omui/elegant/images/panel/min_panel.png') no-repeat center center;}
