/*全局定义*/
html{height:100%}
body{font-size:12px;height:100%;margin:0;padding:0;}
/**,*:before,*:after{-webkit-box-sizing: content-box;-moz-box-sizing: content-box;box-sizing: content-box;}*/
.clear{clear:both}
.portlet-content{padding:0;}
.panel-body{text-align:left;}
.operations{padding:0;margin:0;}
.operations li{list-style:none;display:block;float:left;width:100px;margin-right:5px;border:1px solid #E6E6E6;height:30px;line-height:30px;text-align:center;}
.container{/*width:960px;*/padding-left:8px;padding-right:8px;padding-top:6px;/*text-align:center;*/padding:0;}
.main_container{margin:0;}
.view{border:1px solid #EFEFEF;margin-bottom:12px;padding:5px;}
#ui-datepicker-div{display:none;}
/*.buttons input{background:url(../img/icons/btn_bg.gif) no-repeat 0 0;border:0;width:50px;height:24px;color:#FFF;font-weight:bold;}*/
.buttons input{background:url("../img/icons/button.png") repeat-x scroll 0 0 #EBEDF2;border:1px solid #A9ACB5;color:#201F35;line-height:24px;height:24px;font-weight:bold;display:block;width:60px;text-align:center;}
.detail-view th{text-align:left;}
/*顶部信息栏*/
#main_header{background:url(../img/layout-browser-hd-bg.gif) repeat-x 50% 50%;height:28px;overflow:hidden;clear:both;/* border-bottom:3px #D2E0F2 solid; */border:0;border-bottom:1px #E1E1E1 solid;margin-bottom:2px;}
#main_header span{display:block;float:left;line-height:22px;height:22px;/*width:100px;text-align:center;*/color:#FFF;}
#main_header .user_form{float:right;width:150px;}
#main_header .user_form a{color:#fff;text-decoration:none;margin-right:15px;}
.main_header #user_dialog{display:none;}
#main_footer{background:url(../img/layout-browser-hd-bg.gif) repeat-x 50% 50%;height:21px;overflow:hidden;position:relative;border:0;border-top:1px #E1E1E1 solid;margin-top:1px;}
#main_footer span{display:block;float:left;line-height:20px;height:20px;color:#FFF;}
.backend_footer{font-size:12px;margin-left:12px;}
.backend_footer a,.backend_footer a:hover{color:#FFF;}
/*左边栏样式*/
.left_menu{padding-left:15px;}
.left_menu li{padding-left:20px;height:20px;line-height:20px;list-style:none;}
.my_panel{height:640px;}

/*elegant样式修正*/
.om-tabs .om-tabs-headers .om-state-default a{color:#212121;}
.om-tabs .om-tabs-headers{border-color:#CCC;}
.om-widget .om-widget-header{background-position:0 3px;}
.om-tabs .left-placeholder,.om-tabs .right-placeholder{height:28px;}
.om-tabs .om-tabs-headers ul li.om-tabs-activated{border-color:#D2D2D2 #D2D2D2 #FFF;}
.om-tabs .om-tabs-headers ul li{background:url("omui/elegant/images/tabs/om-tabs-bg-d.png") repeat-x scroll 0 0 #EBEBEB;}
.om-tabs .om-tabs-headers ul li.om-state-hover{background: url("omui/elegant/images/tabs/om-tabs-bg-h.png") repeat-x scroll 0 0 #EAEAEA;}
.om-tabs .om-tabs-headers ul li.om-tabs-activated{background:url("omui/elegant/images/tabs/om-tabs-bg-a.png") repeat-x scroll 0 0 #FFF;}
.om-tree li.om-tree-node span.selected{background-color:#E9E9E9 !important;}
.om-tree .om-tree-node span.hover{background-color:#E9E9E9;}
.om-dialog .om-dialog-content{padding:0;}
.om-calendar-list-wrapper .om-state-highlight{color:#666;}
.bDiv .om-state-highlight{border-width:0;}

/*顶部登录框*/
.backend_title{width:180px;padding-left:20px;font-size:15px;}
.backend_loginform{text-align:right;display:block;float:right;width:400px;height:22px;position:absolute;top:0;right:15px;cursor:pointer;font-size:13px;}
.backend_loginform input{height:15px;width:80px;font-size:12px;margin:0 5px;}
.backend_loginform input#loginsubmit{height:25px;width:50px;font-size:12px;}
.backend_loginform_h{background:url(../img/icons/login.gif) no-repeat 0 -10px;width:306px;height:5px;margin:0;}
.backend_loginform_m{border:1px solid #BABABA;padding:12px 15px;}
.backend_loginform_m h2{padding-left:65px;}
.backend_loginform_w{width:306px;padding-top:0;position:absolute;top:100px;left:35%;}
.backend_loginform_m .row label{display:block;width:50px;padding-left:15px;float:left;height:21px;line-height:21px;}
.backend_loginform_m .row{clear:both;margin-bottom:10px;height:21px;overflow:hidden;}
.backend_loginform_m .row input{float:left;padding:0;margin:0;border:1px solid #CCC;height:18px;line-height:18px;}
.backend_loginform_m .row input.error{/* border-color:#F50021; */}
.backend_loginform_m label.error{display:block;line-height:21px;height:21px;width:200px;margin:-5px 0 5px 65px;padding:0 5px 0 18px;color:#F50021;background:url(icons/validate-err.png) no-repeat 3px 5px;/* border:1px solid #FFD324;background:#FFF6BF; */}
.backend_loginform_m .captcha_row{height:40px;}
.captcha_row a{display:block;margin-top:8px;}
.captcha_row img{border:1px solid #EAEAEA;margin-top:3px;}
.backend_loginform_f{height:5px;background:url(../img/icons/login.gif) no-repeat 0 0;width:306px;}
.errorSummary{color:#CC3300}
.backend_loginbtn{padding-left:65px;}
 #loginsubmit{cursor:pointer;margin:0 auto;border:0;background:url(../img/icons/login.gif) no-repeat 0 -170px;width:97px;height:27px;text-indent:-9999px;font-size:0px;line-height:0px;}

/*搜索表格样式*/
.easyui_s_form .row{clear:both;}
.easyui_s_form .row label{float:left;}
.easyui_s_form .row input{float:left;}

/*表单样式*/
div.form{/* padding-bottom:12px; */}
div.form .buttons{padding-left:20px;padding-top:10px;/* margin-bottom:20px; */}
div.form .buttons a{background:url("../img/icons/button.png") repeat-x scroll 0 0 #EBEDF2;border:1px solid #A9ACB5;color:#201F35;line-height:15px;height:15px;padding:3px 0 4px 0;font-weight:bold;display:inline-block;width:60px;text-decoration:none;text-align:center;}
div.form .buttons a:hover{background:url("../img/icons/hover.png") repeat-x 0 0 #DDE6FE;border:1px solid #A9ACB5;}
div.form .row_division,div.form .row_division_only{border-color:#CCCCCC #BEC6CE #BEC6CE #CCCCCC;border-style:solid;/* border-width:1px 2px 2px 1px; */border-width:1px;padding:0;/* padding:5px; */margin:5px;width:822px;}
div.form .row_division .row{padding:0;border:none;border-bottom:1px solid #DDD;clear:both;width:822px;overflow:auto;}
div.form .row_division .row .row_item{float:left;display:block;padding:5px 0;height:22px;height:auto;min-height:22px;}
div.form .row_division .row .row_label{font-weight:normal;width:100px;border-width:1px;border-style:solid;border-color:#FFF #CCC #DDD #FFF;border-bottom:none;background:#E2E8EB;text-align:right;padding-right:5px;}
div.form .row_division .row .row_label label{display:block;}
div.form .row_division .row .row_input{padding-left:5px;width:610px;}
div.form .row_division .row .row_error{padding-left:5px;width:95px;}
div.form .row_division_single{background:#E7EFF4;}
.row_division_single>p{margin:5px 0;text-align:left;width:812px;/* font-weight:bold; */padding:3px 5px;}
.row_division_single>div{padding:0 5px;}
div.form .row_division .row_table{width:100%;}
div.form .row_division .row_table tr{padding:0;border-bottom:1px solid #DDD;clear:both;width:822px;}
div.form .row_division .row_table tr th,div.form .row_division table tr td{padding:3px 0;vertical-align:top;}
div.form .row_division .row_table tr th{padding-top:8px;}
div.form .row_division .row_table tr th label{margin:0;}
div.form .row_division .row_table tr td{padding-left:5px;border-width:1px;border-style:solid;border-color:#FFF #FFF #DDD #FFF;clear:both;}
div.form .row_division .row_table tr th{width:100px;line-height:18px;/* height:18px; */font-weight:normal;border-width:1px;border-style:solid;border-color:#FFF #CCC #DDD #FFF;border-bottom:none;background:#E7EFF4;text-align:right;padding-right:5px;}
div.form .row_division .row_table tr td .error_span{float:left;width:148px;height:22px;padding-left:12px;}
div.form .row_division .row_table tr td .input_span{display:block;height:22px;float:left;}
div.form .row_division .row_table tr td .input_span_big{height:auto;}
.row_table td input,.row_table textarea{font-size:12px;}
/*按钮样式*/
a.sysiconBtn_wrap{background:url("../img/icons/button.png") repeat-x 0 0;text-decoration:none;font-size:12px;height:15px;line-height:15px;display:inline-block;border:1px solid #A9ACB5;color:#201F35;padding:3px 0 4px 0;}
a.sysiconBtn_wrap:hover{background:url("../img/icons/hover.png") repeat-x 0 0 #DDE6FE;border:1px solid #A9ACB5;}
.sysiconBtn{background:url("../img/icons/sysicon.gif") no-repeat scroll 2px -3px;font-size:12px;height:15px;line-height:15px;padding:0px 8px 0px 20px;cursor:pointer;font-weight:normal;}
.sysiconBtnEdit{background:url("../img/icons/sysicon.gif") no-repeat scroll 2px -45px;}
.sysiconBtnDel{background:url("../img/icons/sysicon.gif") no-repeat scroll 2px -88px;}

/*搜索表单样式*/
div.batch_form .row_division{width:auto;}
.batch_form .row_div{height:30px;clear:both;border-bottom:1px solid #DDDDDD;}
.batch_form .row_div input{margin:5px 0 5px 10px;}
.batch_form .row_div label{width:100px;padding:3px 0;padding-right:5px;height:24px;line-height:24px;text-align:right;display:block;float:left;border-width:1px;border-style:solid;border-color:#FFF #CCC #DDD #FFF;border-bottom:none;background:#E7EFF4;}
.batch_form .row_div .check_row{display:block;float:left;height:10px;margin:8px 0;/*保持对齐*/}
.batch_form .row_div .row_input{display:block;float:left;height:30px;position:relative;}
.batch_form .buttons{padding:10px 0;padding-left:20px;}
.batch_form .buttons input{background:url("../img/icons/button.png") repeat-x scroll 0 0 #EBEDF2;border:1px solid #A9ACB5;color:#201F35;line-height:24px;height:24px;font-weight:bold;display:block;width:60px;text-align:center;}
.batch_form .buttons input.gridsearch_button_hover{background:url("../img/icons/hover.png") repeat-x 0 0 #DDE6FE;border:1px solid #A9ACB5;}

/*导出excel*/
.export_form_wrapper label{margin-right:12px;}
.export_form_wrapper h3{margin:8px 0;padding-left:20px;}
.export_success{width:180px;height:20px;line-height:20px;padding:5px 10px;}
.export_success a{background:url("../img/icons/button.png") repeat-x scroll 0 0 #EBEDF2;border:1px solid #A9ACB5;color:#201F35;line-height:15px;height:15px;padding:3px 0 4px 0;font-weight:normal;display:inline-block;width:60px;text-decoration:none;text-align:center;}
.export_success a:hover{background:url("../img/icons/hover.png") repeat-x 0 0 #DDE6FE;border:1px solid #A9ACB5;}

/*查看页面样式*/
table.detail-view{width:100%;margin:0;background:#FFF;border-color:#CCCCCC #BEC6CE #BEC6CE #CCCCCC;border-width:1px;border-style:solid;}
table.detail-view tr th,table.detail-view tr td{font-size:0.9em;padding:0.4em 0.6em;vertical-align:top;background:#FFF;border-bottom:1px solid #ccc;}
table.detail-view tr th{text-align:right;width:160px;line-height:18px;height:18px;border-width:1px;border-style:solid;border-color:#FFF #CCC #DDD #FFF;border-bottom:none;background:#E2E8EB;}
table.detail-view tr.webshop_good_view_img td img{width:150px;height:150px;}

/*itemSelector表单样式*/
div.form .row_division_only .row_division_only_content{padding:10px;border:1px solid #DDD;background:#FFF;}
.item_selector_query{margin-bottom:12px;}
.item_selector_query .row label{display:block;float:left;line-height:20px;padding-right:10px;width:60px;text-align:right;}
.item_selector_query .btn_row{padding-left:70px;clear:both;overflow:hidden;}
.item_selector_query .btn_row a{width:50px;text-align:center;text-decoration:none;font-size:12px;font-weight:bold;height:15px;line-height:17px;display:block;float:left;margin-right:10px;border:1px solid #A9ACB5;color:#201F35;padding:3px 0 4px 0;background:url("../img/icons/button.png") repeat-x 0 0;}
.item_selector_query .btn_row a#itemSelectorAllButton{width:70px;}

.fav_cond_wrap{clear:both;/*overflow:hidden;*/height:25px;width:725px;}
.fav_cond_wrap .fav_cond{height:22px;float:left;padding:0 5px;}
.fav_cond_wrap .fav_cond_item{height:20px;padding-right:0;font-size:12px;line-height:20px;margin-right:3px;margin-bottom:3px;border:1px solid #FF7701;}
.fav_cond_wrap .fav_cond_item span,.fav_cond_wrap .fav_cond_item b{display:block;float:left;height:20px;line-height:20px;}
.fav_cond_wrap .fav_cond_item b{width:13px;padding-left:8px;cursor:pointer;font-size:0;text-indent:-99999px;background:url("../img/icons/icon_delete.gif") no-repeat 5px 50%;}
.fav_cond_wrap .fav_cond_opt{position:relative;}
.fav_cond_wrap .fav_cond_new{height:22px;font-size:12px;line-height:20px;width:510px;padding:3px;background:#E7EAEE;border:1px solid #909AA6;position:absolute;top:25px;left:0;}
.fav_cond_wrap .fav_cond_new_small{width:290px;}
.fav_cond_wrap .fav_cond_new #favCondMin{width:60px;}
.fav_cond_wrap .fav_cond_new #favCondMax{width:60px;}
.fav_cond_wrap .fav_cond .sysiconBtn_wrap{padding:0 5px;height:20px;line-height:20px;}

/*上传图片*/
#fileQueue {/*width: 400px;height: 300px;*/overflow: auto;border: 1px solid #E5E5E5;margin-bottom: 10px;}
.file_upload{text-align:left;padding-left:20px;padding-top:20px;}
div.form .row_division .row_table tr td.img_td{width:380px;padding:0;}
.img_td .img_district{height:299px;border-left:1px solid #DDD;}
.img_district_name{clear:both;overflow:hidden;margin:0;padding:0;border-bottom:1px solid #CCC;}
.img_district_name h5{line-height:18px;height:18px;padding:6px 10px 5px 50px;margin:0;border-right:1px solid #CCC;font-size:12px;font-weight:normal;display:block;float:left;background:#E7EFF4;}
.img_district_name .img_btn{height:22px;padding:3px 0 3px 10px;display:block;float:left;}
.btn-group>.btn-mini{font-size:12px;}
.btn-mini{font-size:12px;}
/* .img_district_list{width:800px;height:130px;} */
.img_district_list{margin:0;padding:0;width:800px;height:96px;padding:0 10px;display:block;clear:both;overflow:hidden;overflow-y:auto;}
.img_district_list>div{width:74px;height:90px;padding:3px;float:left;/* display:-moz-inline-stack; */}
/* .row_uploaded_wrap .row_uploaded_crl{background:#E7EAEE;border:1px solid #909AA6;padding:3px 0;height:24px;width:370px;padding-left:8px;clear:both;overflow:hidden;}
.row_uploaded_wrap .row_uploaded_crl a{font-size:12px;float:left;display:block;height:22px;padding:1px;cursor:pointer;color:#201F35;text-decoration:none;}
.row_uploaded_wrap .row_uploaded_crl a:hover{padding:0;background:#DDE6FE;border:1px solid #A9ACB5;}
.row_uploaded_wrap .row_uploaded_crl a span{font-size:12px;height:22px;display:block;line-height:22px;padding:0px 8px 0px 25px;cursor:pointer;font-weight:normal;}
.row_uploaded_wrap .row_uploaded_crl a.gallery_prev span{background:url("img/icons/back.png") no-repeat scroll 3px 50%;}
.row_uploaded_wrap .row_uploaded_crl a.gallery_next span{background:url("img/icons/front.png") no-repeat scroll 3px 50%;}
.row_uploaded_wrap .row_uploaded_crl a.gallery_del span{background:url("img/icons/cancel.png") no-repeat scroll 3px 50%;}
.row_uploaded_wrap .row_uploaded_crl a.gallery_set span{background:url("img/icons/tip.png") no-repeat scroll 3px 50%;} */
.img_district_list>div.selected img{border:2px solid #FF0033;}
.img_district_list>div img{width:70px;height:70px;display:block;border:2px solid #EAEAEA;}
.img_district_list>div p{margin:0;height:13px;line-height:13px;text-align:center;font-size:12px;padding-top:3px;}
.img_district_list>div p b{color:#FF0033;}

/*订单查看*/
.cart_list{width:637px;}
.cart_list th{border:0;border-top:2px solid #DFC9B2;height:26px;line-height:26px;text-align:center;border-bottom:1px solid #DFC9B2;}
.cart_list tr{background:#F7F4EB;}
.cart_list td{font-size:12px;border-bottom:1px solid #DFC9B2;border-right:1px solid #DFC9B2;text-align:center;background:#FFF;}
.cart_list tr .cart_row_p{border-left:1px solid #DFC9B2;width:400px;}
.cart_list tr .cart_row_n{border-right:1px solid #DFC9B2;}
.cart_list tr td.cart_row_p{text-align:left;clear:both;}
.cart_list tr td.cart_row_p span{display:block;float:left;padding:6px;}
.cart_list tr td.cart_row_p span a{font-size:12px;text-decoration:none;color:#333;}
.cart_list tr td.cart_row_p img{width:54px;height:54px;border:1px solid #DFDFE0;}
.cart_list tr td.cart_row_p span small{font-size:12px;color:#878787;margin-right:5px;}
.cart_list tr td.cart_row_n span{margin-right:6px;}
.cart_list tr td.cart_sum{border:0;text-align:right;}
.cart_list tr td.cart_sum em{color:#CC3300;font:bold 18px/51px Arial;}
.genorder_wrap{padding:0;width:870px;overflow:hidden;}
.genorder_box{border:2px solid #DFC9B2;padding:8px;width:850px;margin:8px 0;}
.genorder_box .go_goods .cart_list{width:850px;}
.genorder_box .go_goods{padding-top:12px;}
.genorder_box .go_goods h3{margin-bottom:12px;}
.genorder_box .go_consignee h3,.genorder_box .go_payment h3,.genorder_box .go_shipment h3{margin-bottom:0;}
.genorder_box .go_consignee,.genorder_box .go_payment,.genorder_box .go_shipment{padding:12px 0;border-bottom:1px solid #F2E2D4;margin-bottom:3px;padding-left:6px;}
.genorder_box .go_sum{text-align:right;}
.genorder_box .go_sum p{margin-bottom:8px;text-align:right;}
.genorder_box .go_sum p.order_amount{font-size:13px;font-weight:bold;}
.genorder_box .go_sum p.order_amount b{color:#CC3300;}
.genorder_box .go_sum p.print_order{position:relative;height:35px;}
.genorder_box .go_sum p.print_order a{text-align:center;text-decoration:none;background:url("../img/icons/bg_cart_pic.gif") no-repeat scroll 0 -360px transparent;display:block;width:114px;height:26px;line-height:26px;color:#FFF;font-weight:bold;position:absolute;top:0;right:8px;cursor:pointer;font-size:12px;}
.payment_show,.ship_show,.consignee_show{display:block;width:550px;height:26px;color:#FF7100;line-height:26px;font-weight:bold;font-size:13px;}

/*表单内嵌列表表格样式*/
div.form .row_division .row_list_table{width:822px;margin:0;border:1px solid #EFEFEF;}
div.form .row_division .row_list_table thead tr th{background:url("../img/functionareabg.gif") repeat scroll 0 0 transparent;border-color:#FFFFFF #DBE2E7 #CCCCCC #FFFFFF;border-style:solid;border-width:1px;padding:5px 3px;font-size:12px;}
div.form .row_division .row_list_table tbody tr td{text-align:center;vertical-align:middle;background:#FFF;border-color:#FFFFFF #DBE2E7 #CCCCCC #FFFFFF;border-style:solid;border-width:1px;}
div.form .row_division .row_list_table tbody tr td input,div.form .row_division .row_list_table tbody tr td select{font-size:12px;}
div.form .row_division .row_list_table tbody tr td.item_manage div{width:75px;height:12px;clear:both;overflow:hidden;margin:0 auto;padding:7px 0;}
div.form .row_division .row_list_table tbody tr td.item_manage div a{display:block;float:left;width:13px;height:12px;padding:0 6px;}
div.form .row_division .row_list_table tbody tr td.item_manage div .item_up{background:url("../img/icons/icon_asc.gif") no-repeat scroll 0 50% transparent;}
div.form .row_division .row_list_table tbody tr td.item_manage div .item_down{background:url("../img/icons/icon_desc.gif") no-repeat scroll 0 50% transparent;}
div.form .row_division .row_list_table tbody tr td.item_manage div .item_del{background:url("../img/icons/icon_delete.gif") no-repeat scroll 0 50% transparent;}
div.form .row_division .row_list_table thead tr th.function_column{cursor:pointer;}
div.form .row_division .row_list_table thead tr th.function_column.selected{/*border:1px solid #FF0033;*/}
div.form .row_division .row_list_table thead tr th.function_column .column_handler{clear:both;overflow:hidden;padding:0;position:absolute;z-index:1999;height:22px;width:80px;background:#E6ECF5;border:1px solid #99A8BC;}
div.form .row_division .row_list_table thead tr th.function_column .column_handler a{display:block;float:left;width:13px;height:12px;padding:5px 6px;}
div.form .row_division .row_list_table thead tr th.function_column .column_handler .column_toward{background:url("../img/icons/icon_toward.gif") no-repeat scroll 50% 50% transparent;}
div.form .row_division .row_list_table thead tr th.function_column .column_handler .column_del{background:url("../img/icons/icon_delete.gif") no-repeat scroll 50% 50% transparent;}
div.form .row_division .row_list_table thead tr th.function_column .column_handler .column_back{background:url("../img/icons/icon_back.gif") no-repeat scroll 50% 50% transparent;}
.row_table_list_tool .spec_handler{clear:both;overflow:hidden;padding:3px 5px;position:absolute;z-index:999;width:90px;background:#E6ECF5;border:1px solid #99A8BC;}
.row_table_list_tool .spec_handler form{margin:0;}
.row_table_list_tool .spec_handler ul{margin:5px 0;padding:0;}
.row_table_list_tool .spec_handler ul li{list-style:none;padding:3px 5px;display:block;width:70px;height:18px;overflow:hidden;clear:both;}
.row_table_list_tool .spec_handler ul li .spec_div{float:left;height:18px;padding:0;}
.row_table_list_tool .spec_handler ul li .spec_input{width:20px;}
.row_table_list_tool .spec_handler ul li .spec_label{width:30px;padding-left:5px;}
.row_table_list_tool .spec_handler ul li .spec_div label{display:block;height:18px;line-height:19px;}
.spec_handler .buttons input{height:20px;line-height:20px;font-size:12px;font-weight:normal;}

/*图片列表页面*/
.good_img_list{width:720px;height:300px;background:#FFF;border:1px solid #999;overflow-y:scroll;}
.good_img_list ul{margin:0;padding:0;width:690px;display:block;clear:both;overflow:hidden;}
.good_img_list ul li{width:104px;height:120px;padding:5px;float:left;display:block;overflow:hidden;}
.good_img_list ul li img{width:96px;height:96px;padding:2px;display:block;border:2px solid #EAEAEA;}
.good_img_list ul li p{margin:0;height:13px;line-height:13px;text-align:center;font-size:12px;padding-top:3px;width:auto;}
.good_img_list ul li p input{margin:0;}

/*选择相关图片*/
.select_assoc_img{margin:0;padding:0;width:170px;}
.select_assoc_img li{list-style:none;width:171px;text-align:center;height:auto;}
.select_assoc_img li img{border:1px solid #CCC;width:80px;height:80px;}

/*角色授权页面*/
.auth-title{margin:0;padding:0;clear:both;height:29px;/* overflow:hidden; */border:1px solid #CCCCCC;}
.auth-title h5{line-height:18px;height:18px;padding:6px 10px 5px 50px;margin:0;border-right:1px solid #CCC;font-size:12px;font-weight:normal;display:block;float:left;background:#E7EFF4;}
.auth-title span.auth-btn{float:left;display:block;height:22px;padding:3px 0 3px 10px;}
.auth-nodes{padding:5px;}

/*角色用户页面*/
.auth-users-wrap{border-color:#CCCCCC #BEC6CE #BEC6CE #CCCCCC;border-style:solid;/* border-width:1px 2px 2px 1px; */border-width:1px;padding:0;/* padding:5px; */margin:5px;width:422px;}
.auth-users-wrap>p{margin:0;text-align:left;width:412px;line-height:25px;height:25px;border-bottom:1px solid #CCCCCC;background:#E7EFF4;/* font-weight:bold; */padding:3px 5px;}
.auth-users{padding:5px;}
.auth-users .buttons{margin:15px 0 10px 0;padding-left:20px;}