.form-widget {
    clear:both;
    height:28px;
    border:1px solid #DDD;
    border-top: none;
    border-left: none;
}
.form-widget .form-label {
    display:block;
    float: left;
    height: 21px;
    width: 100px;
    line-height:21px;
    font-size: 12px;
    padding:3px 5px 3px 0;
    text-align: right;
    background:#E7EFF4;
    border-right:1px solid #CCC;
    border-bottom:1px none #000;
}
.form-widget .form-input {
    display:block;
    float: left;
    height: 22px;
    padding:3px 0 3px 5px;
}
.form-input input {
    font-size:12px;
}
.form-widget .form-error {
    display: block;
    float: left;
    width:135px;
    height:22px;
    line-height:22px;
    padding:3px 0 3px 5px;
}
.form-division {
    border-color:#CCCCCC #BEC6CE #BEC6CE #CCCCCC;
    border-style:solid;
    border-width:1px;
    padding:0;
    margin:5px;
}
.form-division-single {
    background:#E7EFF4;
}
.form-division-single>p {
    margin:5px 0;
    text-align:left;
    width:812px;
    padding:3px 5px;
    font-size:12px;
}
.form-division-single>div {
    padding:0 5px 5px 5px;
}
.form-button {
    height:31px;
    padding:10px 0 10px 20px;
}