/*全局定义*/
 html {
    height:100%
}
body {
    font-size:12px;
    height:100%;
    margin:0;
    padding:0;
}
.container {
    padding-left:8px;
    padding-right:8px;
    padding-top:6px;
    padding:0;
}
.main_container {
    margin:0;
}
/*登陆框*/
 .login-form {
    width:256px;
    padding-top:0;
    position:absolute;
    top:100px;
    left:35%;
    border:1px solid #BABABA;
    padding:12px 15px;
    padding-bottom:0;
}
.login-form h2 {
    margin:0;
    margin-bottom:15px;
    padding-left:25px;
}
.login-form .row label {
    display:block;
    width:50px;
    padding-left:25px;
    float:left;
    height:21px;
    line-height:21px;
}
.login-form .row {
    clear:both;
    margin-bottom:10px;
    /*     height:21px; */
    overflow:hidden;
}
.login-form .row input {
    float:left;
    padding:0;
    margin:0;
    border:1px solid #CCC;
    height:18px;
    line-height:18px;
}
.login-form label.error {
    display:block;
    line-height:21px;
    height:21px;
    width:200px;
    margin:-5px 0 5px 65px;
    padding:0 5px 0 18px;
    color:#F50021;
    background:url(image/validate-err.png) no-repeat 3px 5px;
}
.login-form .row-captcha {
    padding-left:75px;
    height:40px;
}
.row-captcha a {
    display:block;
    margin-top:8px;
}
.row-captcha img {
    border:1px solid #EAEAEA;
    margin-top:3px;
}
.login-form .row-button {
    padding-left:75px;
}
/*整体layout*/
 .home-header {
    background:url(image/layout-browser-hd-bg.gif) repeat-x 50% 50%;
    height:28px;
    overflow:hidden;
    clear:both;
    border:0;
    border-bottom:1px #E1E1E1 solid;
    margin-bottom:2px;
}
.home-header span {
    display:block;
    float:left;
    line-height:22px;
    height:22px;
    color:#FFF;
}
.home-header .home-title{
    padding-left:10px;
}
.home-header .home-user {
    float:right;
}
.home-header .home-user a {
    color:#fff;
    text-decoration:none;
    margin-right:15px;
}
.home-footer {
    background:url(image/layout-browser-hd-bg.gif) repeat-x 50% 50%;
    height:21px;
    overflow:hidden;
    position:relative;
    border:0;
    border-top:1px #E1E1E1 solid;
    margin-top:1px;
}
.home-footer span {
    display:block;
    float:left;
    line-height:20px;
    height:20px;
    color:#FFF;
}
.home-footer {
    font-size:12px;
}
.home-footer a, .home-footer a:hover {
    color:#FFF;
}
/*icon样式*/
 .icon-blank {
    background:url('image/icon/blank.gif') no-repeat;
}
.icon-add {
    background:url('image/icon/edit_add.png') no-repeat;
}
.icon-edit {
    background:url('image/icon/pencil.png') no-repeat;
}
.icon-remove {
    background:url('image/icon/edit_remove.png') no-repeat;
}
.icon-save {
    background:url('image/icon/filesave.png') no-repeat;
}
.icon-cut {
    background:url('image/icon/cut.png') no-repeat;
}
.icon-ok {
    background:url('image/icon/ok.png') no-repeat;
}
.icon-no {
    background:url('image/icon/no.png') no-repeat;
}
.icon-cancel {
    background:url('image/icon/cancel.png') no-repeat;
}
.icon-reload {
    background:url('image/icon/reload.png') no-repeat;
}
.icon-search {
    background:url('image/icon/search.png') no-repeat;
}
.icon-print {
    background:url('image/icon/print.png') no-repeat;
}
.icon-help {
    background:url('image/icon/help.png') no-repeat;
}
.icon-undo {
    background:url('image/icon/undo.png') no-repeat;
}
.icon-redo {
    background:url('image/icon/redo.png') no-repeat;
}
.icon-back {
    background:url('image/icon/back.png') no-repeat;
}
.icon-front {
    background:url('image/icon/front.png') no-repeat;
}
.icon-sum {
    background:url('image/icon/sum.png') no-repeat;
}
.icon-tip {
    background:url('image/icon/tip.png') no-repeat;
}
.icon-export {
    background:url('image/icon/export_excel.png') no-repeat;
}
.icon-according {
    background:url('image/icon/accordion.png') no-repeat 0 -4px;
}
/*表单样式*/
 .form-widget {
    clear:both;
    height:28px;
    border:1px solid #DDD;
    border-top: none;
    border-left: none;
}
.form-widget .form-label {
    display:block;
    float: left;
    height: 21px;
    width: 100px;
    line-height:21px;
    font-size: 12px;
    padding:3px 5px 3px 0;
    text-align: right;
    background:#E7EFF4;
    border-right:1px solid #CCC;
    border-bottom:1px none #000;
}
.form-widget .form-input {
    display:block;
    float: left;
    height: 22px;
    padding:3px 0 3px 5px;
}
.form-input input {
    font-size:12px;
}
.form-widget .form-error {
    display: block;
    float: left;
    width:135px;
    height:22px;
    line-height:22px;
    padding:3px 0 3px 5px;
}
.form-division {
    border-color:#CCCCCC #BEC6CE #BEC6CE #CCCCCC;
    border-style:solid;
    border-width:1px;
    padding:0;
    margin:5px;
}
.form-division-single {
    background:#E7EFF4;
}
.form-division-single>p {
    margin:5px 0;
    text-align:left;
    width:812px;
    padding:3px 5px;
    font-size:12px;
}
.form-division-single>div {
    padding:0 5px 5px 5px;
}
.form-button {
    height:31px;
    padding:10px 0 10px 20px;
}
