/*上传图片*/
 #fileQueue {
    overflow: auto;
    border: 1px solid #E5E5E5;
    margin-bottom: 10px;
}
.file_upload {
    text-align:left;
    padding-left:20px;
    padding-top:20px;
}
div.form .row_division .row_table tr td.img_td {
    width:380px;
    padding:0;
}
.img_td .img_district {
    height:299px;
    border-left:1px solid #DDD;
}
.img_district_name {
    clear:both;
    overflow:hidden;
    margin:0;
    padding:0;
    border-bottom:1px solid #CCC;
}
.img_district_name h5 {
    line-height:18px;
    height:18px;
    padding:6px 10px 5px 50px;
    margin:0;
    border-right:1px solid #CCC;
    font-size:12px;
    font-weight:normal;
    display:block;
    float:left;
    background:#E7EFF4;
}
.img_district_name .img_btn {
    height:22px;
    padding:3px 0 3px 10px;
    display:block;
    float:left;
}
.btn-group>.btn-mini {
    font-size:12px;
}
.btn-mini {
    font-size:12px;
}
.img_district_list {
    margin:0;
    padding:0;
    /* width:800px; */
    height:96px;
    padding:0 10px;
    display:block;
    clear:both;
    overflow:hidden;
    overflow-y:auto;
}
.img_district_list>div {
    width:74px;
    height:90px;
    padding:3px;
    float:left;
}
.img_district_list>div img {
    width:70px;
    height:70px;
    display:block;
    border:2px solid #EAEAEA;
}
.img_district_list>div p {
    margin:0;
    height:13px;
    line-height:13px;
    text-align:center;
    font-size:12px;
    padding-top:3px;
}
.img_district_list>div p b {
    color:#FF0033;
}
/*查看页面样式*/
 table.detail-view {
    width:100%;
    margin:0;
    background:#FFF;
    border-color:#CCCCCC #BEC6CE #BEC6CE #CCCCCC;
    border-width:1px;
    border-style:solid;
}
table.detail-view tr th, table.detail-view tr td {
    font-size:0.9em;
    padding:0.4em 0.6em;
    vertical-align:top;
    background:#FFF;
    border-bottom:1px solid #ccc;
}
table.detail-view tr th {
    text-align:right;
    width:160px;
    line-height:18px;
    height:18px;
    border-width:1px;
    border-style:solid;
    border-color:#FFF #CCC #DDD #FFF;
    border-bottom:none;
    background:#E2E8EB;
}

/*导出excel*/
.export_form_wrapper label{margin-right:12px;}
.export_form_wrapper h3{margin:8px 0;padding-left:20px;}
.export_success{width:180px;height:20px;line-height:20px;padding:5px 10px;}
.export_success a{background:url("image/icon/button.png") repeat-x scroll 0 0 #EBEDF2;border:1px solid #A9ACB5;color:#201F35;line-height:15px;height:15px;padding:3px 0 4px 0;font-weight:normal;display:inline-block;width:60px;text-decoration:none;text-align:center;}
.export_success a:hover{background:url("image/icon/hover.png") repeat-x 0 0 #DDE6FE;border:1px solid #A9ACB5;}

/*角色授权页面*/
.auth-title{margin:0;padding:0;clear:both;height:29px;/* overflow:hidden; */border-bottom:1px solid #CCCCCC;}
.auth-title h5{line-height:18px;height:18px;padding:6px 10px 5px 50px;margin:0;border-right:1px solid #CCC;font-size:12px;font-weight:normal;display:block;float:left;background:#E7EFF4;}
.auth-title span.auth-btn{float:left;display:block;height:22px;padding:3px 0 3px 10px;}
.auth-nodes{padding:5px;}

/*角色用户页面*/
.auth-users-wrap{border-color:#CCCCCC #BEC6CE #BEC6CE #CCCCCC;border-style:solid;/* border-width:1px 2px 2px 1px; */border-width:1px;padding:0;/* padding:5px; */margin:5px;width:422px;}
.auth-users-wrap>p{margin:0;text-align:left;width:412px;line-height:25px;height:25px;border-bottom:1px solid #CCCCCC;background:#E7EFF4;/* font-weight:bold; */padding:3px 5px;}
.auth-users{padding:5px;}
.auth-users .buttons{margin:15px 0 10px 0;padding-left:20px;}

/*订单查看*/
.cart_list{width:637px;}
.cart_list th{border:0;border-top:2px solid #DFC9B2;height:26px;line-height:26px;text-align:center;border-bottom:1px solid #DFC9B2;}
.cart_list tr{background:#F7F4EB;}
.cart_list td{font-size:12px;border-bottom:1px solid #DFC9B2;border-right:1px solid #DFC9B2;text-align:center;background:#FFF;}
.cart_list tr .cart_row_p{border-left:1px solid #DFC9B2;width:400px;}
.cart_list tr .cart_row_n{border-right:1px solid #DFC9B2;}
.cart_list tr td.cart_row_p{text-align:left;clear:both;}
.cart_list tr td.cart_row_p span{display:block;float:left;padding:6px;}
.cart_list tr td.cart_row_p span a{font-size:12px;text-decoration:none;color:#333;}
.cart_list tr td.cart_row_p img{width:54px;height:54px;border:1px solid #DFDFE0;}
.cart_list tr td.cart_row_p span small{font-size:12px;color:#878787;margin-right:5px;}
.cart_list tr td.cart_row_n span{margin-right:6px;}
.cart_list tr td.cart_sum{border:0;text-align:right;}
.cart_list tr td.cart_sum em{color:#CC3300;font:bold 18px/51px Arial;}
.genorder_wrap{padding:0;width:870px;overflow:hidden;}
.genorder_box{border:2px solid #DFC9B2;padding:8px;width:850px;margin:8px 0;}
.genorder_box .go_goods .cart_list{width:850px;}
.genorder_box .go_goods{padding-top:12px;}
.genorder_box .go_goods h3{margin-bottom:12px;}
.genorder_box .go_consignee h3,.genorder_box .go_payment h3,.genorder_box .go_shipment h3{margin-bottom:0;}
.genorder_box .go_consignee,.genorder_box .go_payment,.genorder_box .go_shipment{padding:12px 0;border-bottom:1px solid #F2E2D4;margin-bottom:3px;padding-left:6px;}
.genorder_box .go_sum{text-align:right;}
.genorder_box .go_sum p{margin-bottom:8px;text-align:right;}
.genorder_box .go_sum p.order_amount{font-size:13px;font-weight:bold;}
.genorder_box .go_sum p.order_amount b{color:#CC3300;}
.genorder_box .go_sum p.print_order{position:relative;height:35px;}
.genorder_box .go_sum p.print_order a{text-align:center;text-decoration:none;background:url("image/bg_cart_pic.gif") no-repeat scroll 0 -360px transparent;display:block;width:114px;height:26px;line-height:26px;color:#FFF;font-weight:bold;position:absolute;top:0;right:8px;cursor:pointer;font-size:12px;}
.payment_show,.ship_show,.consignee_show{display:block;width:550px;height:26px;color:#FF7100;line-height:26px;font-weight:bold;font-size:13px;}

/*itemSelector表单样式*/
div.form .row_division_only .row_division_only_content{padding:10px;border:1px solid #DDD;background:#FFF;}
.item_selector_query{margin-bottom:12px;}
.item_selector_query .row label{display:block;float:left;line-height:20px;padding-right:10px;width:60px;text-align:right;}
.item_selector_query .btn_row{padding-left:70px;clear:both;overflow:hidden;}
.item_selector_query .btn_row a{width:50px;text-align:center;text-decoration:none;font-size:12px;font-weight:bold;height:15px;line-height:17px;display:block;float:left;margin-right:10px;border:1px solid #A9ACB5;color:#201F35;padding:3px 0 4px 0;background:url("../img/icons/button.png") repeat-x 0 0;}
.item_selector_query .btn_row a#itemSelectorAllButton{width:70px;}

.fav_cond_wrap{clear:both;/*overflow:hidden;*/height:25px;width:725px;}
.fav_cond_wrap .fav_cond{height:22px;float:left;padding:0 5px;}
.fav_cond_wrap .fav_cond_item{height:20px;padding-right:0;font-size:12px;line-height:20px;margin-right:3px;margin-bottom:3px;border:1px solid #FF7701;}
.fav_cond_wrap .fav_cond_item span,.fav_cond_wrap .fav_cond_item b{display:block;float:left;height:20px;line-height:20px;}
.fav_cond_wrap .fav_cond_item b{width:13px;padding-left:8px;cursor:pointer;font-size:0;text-indent:-99999px;background:url("../img/icons/icon_delete.gif") no-repeat 5px 50%;}
.fav_cond_wrap .fav_cond_opt{position:relative;}
.fav_cond_wrap .fav_cond_new{height:22px;font-size:12px;line-height:20px;width:510px;padding:3px;background:#E7EAEE;border:1px solid #909AA6;position:absolute;top:25px;left:0;}
.fav_cond_wrap .fav_cond_new_small{width:290px;}
.fav_cond_wrap .fav_cond_new #favCondMin{width:60px;}
.fav_cond_wrap .fav_cond_new #favCondMax{width:60px;}
.fav_cond_wrap .fav_cond .sysiconBtn_wrap{padding:0 5px;height:20px;line-height:20px;}

/*表单内嵌列表表格样式*/
.row_list_table{width:822px;margin:10px 5px;border:1px solid #EFEFEF;}
.row_list_table thead tr th{background:url("image/functionareabg.gif") repeat scroll 0 0 transparent;border-color:#FFFFFF #DBE2E7 #CCCCCC #FFFFFF;border-style:solid;border-width:1px;padding:5px 3px;font-size:12px;}
.row_list_table thead tr th.new-spec{display:none;}
.row_list_table tbody tr td{text-align:center;padding:3px 0;vertical-align:middle;background:#FFF;border-color:#FFFFFF #DBE2E7 #CCCCCC #FFFFFF;border-style:solid;border-width:1px;}
.row_list_table tbody tr td.new-spec{display:none;}
.row_list_table tbody tr td input,div.form .row_division .row_list_table tbody tr td select{font-size:12px;}
.row_list_table tbody tr td.item_manage div{width:75px;height:12px;clear:both;overflow:hidden;margin:0 auto;padding:7px 0;}
.row_list_table tbody tr td.item_manage div a{display:block;float:left;width:13px;height:12px;padding:0 6px;}
.row_list_table tbody tr td.item_manage div .item_up{background:url("image/icon/icon_asc.gif") no-repeat scroll 0 50% transparent;}
.row_list_table tbody tr td.item_manage div .item_down{background:url("image/icon/icon_desc.gif") no-repeat scroll 0 50% transparent;}
.row_list_table tbody tr td.item_manage div .item_del{background:url("image/icon/icon_delete.gif") no-repeat scroll 0 50% transparent;}
.row_list_table thead tr th.function_column{cursor:pointer;}
.row_list_table thead tr th.function_column.selected{/*border:1px solid #FF0033;*/}
.row_list_table thead tr th.function_column .column_handler{padding:0;position:absolute;z-index:1999;width:98px;padding:5px 6px;background:#F5F5F5;border:1px solid #DDD;}
.row_list_table thead tr th.function_column .column_handler a{display:block;text-align:left;font-weight:normal;width:92px;line-height:18px;height:18px;padding:5px 3px;color:#222;border:1px solid #F5F5F5;text-decoration:none;}
.row_list_table thead tr th.function_column .column_handler a:hover{background:#E5E5E5;border-color:#CCC;}
.row_list_table thead tr th.function_column .column_handler a b{font-weight:normal;display:inline-block;padding-left:5px;color:#222;border-left:1px solid #EAEAEA;}
/* .row_list_table thead tr th.function_column .column_handler .column_toward{background:url("image/icon/icon_toward.gif") no-repeat scroll 50% 50% transparent;}
.row_list_table thead tr th.function_column .column_handler .column_del{background:url("image/icon/icon_delete.gif") no-repeat scroll 50% 50% transparent;}
.row_list_table thead tr th.function_column .column_handler .column_back{background:url("image/icon/icon_back.gif") no-repeat scroll 50% 50% transparent;}
 */.row_table_list_tool .spec_handler{clear:both;overflow:hidden;padding:3px 5px;position:absolute;z-index:999;width:90px;background:#F5F5F5;border:1px solid #DDD;}
.row_table_list_tool .spec_handler form{margin:0;}
.row_table_list_tool .spec_handler ul{margin:5px 0;padding:0;}
.row_table_list_tool .spec_handler ul li{list-style:none;padding:3px 5px;display:block;width:70px;height:18px;overflow:hidden;clear:both;}
.row_table_list_tool .spec_handler ul li label{display:inline-block;padding-left:5px;}
.row_table_list_tool .spec_handler button{margin-left:25px;}
.spec_handler .buttons input{height:20px;line-height:20px;font-size:12px;font-weight:normal;}

/*图片列表页面*/
.good_img_list{width:720px;height:300px;background:#FFF;border:1px solid #999;overflow-y:scroll;}
.good_img_list ul{margin:0;padding:0;width:690px;display:block;clear:both;overflow:hidden;}
.good_img_list ul li{width:104px;height:120px;padding:5px;float:left;display:block;overflow:hidden;}
.good_img_list ul li img{width:96px;height:96px;padding:2px;display:block;border:2px solid #EAEAEA;}
.good_img_list ul li p{margin:0;height:13px;line-height:13px;text-align:center;font-size:12px;padding-top:3px;width:auto;}
.good_img_list ul li p input{margin:0;}

/*选择相关图片*/
.select_assoc_img{margin:0;padding:0;width:170px;}
.select_assoc_img li{list-style:none;width:171px;text-align:center;height:auto;}
.select_assoc_img li img{border:1px solid #CCC;width:80px;height:80px;}
