<div class="batch_form s_form_wrapper form">
    <form action="POST">
        <div class="form-division">
            {{ simpleform .form .fields }}
        </div>
        <div class="form-button">
            <button type="button" class="btn btn-primary" id="search_form_button"><i class="fa fa-save fa-lg"></i> <b>{{ t "Search" }}</b></button>
        </div>
    </form>
</div>
