<div class="batch_form export_form_wrapper form">
    <h3>{{ t "Chose export fields" }}</h3>
    <div class="form-division">
      {{ exportFields .model .fields }}
    </div>
    <div class="form-button">
        <button type="button" class="btn btn-primary" id="export_form_button"><i class="fa fa-save fa-lg"></i> <b>{{ t "Submit" }}</b></button>
    </div>
</div>
