<div class="batch_form m_form_wrapper form">
    <form method="post" action="">
        <div class="form-division">
            {{ simpleform .form .fields}}
        </div>
        <div class="form-button">
            <button type="button" class="btn btn-primary" id="multiple_form_button"><i class="fa fa-save fa-lg"></i> <b>{{ t "Save" }}</b></button>
        </div>
    </form>
</div>
